<!doctype html>
<html>
  <head>
    <title>Cwitter</title>

    <!-- Meta Info -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="demir antay" />

    <!-- FAVICON -->
    <link rel="icon" href="logo.png" />

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap" rel="stylesheet">

    <!-- FONT AWSOME -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- REMIX ICON -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


    <!-- BASE CSS LINKS -->
    <link rel="stylesheet" type="text/css" href="signup.css" />


  </head>

  <body>

    <!-- left part-->
    <div id="left-box">

    </div>

    <!-- right part -->
    <div id="right-box">
      <img src="logo.png" alt="logo" />
      <h1>Happening now</h1>
      <h3>Join Cwitter today.</h3>
      <button id="signup-button">Sign up</button>
      <button id="login-button"><a href="">Log in</a></button>
      <button id="login-button"><a href="">Demo</a></button>

      <p id="footer">Twitter is a registered trademark of Twitter Inc. This project is
        for non-profit and educational purposes.
      </p>
    </div>

    <!-- hidden signup form -->
    <div id="hidden-signup-bg-grey"></div>
    <div id="hidden-signup-form">
      <button id="close-btn"><i class="ri-close-line"></i></button>
      <div id="img-container">
        <img src="logo.png" alt="logo"/>
      </div>
      <form>
        <label>What's your email?</label>
        <input type="text" placeholder="Enter your email."/>

        <label>Confirm your email</label>
        <input type="text" placeholder="Enter your email again."/>

        <label>Create a password</label>
        <input type="password" placeholder="Create a password."/>

        <label>Create a username</label>
        <input type="text" placeholder="Create a username."/>

        <p id="terms">
          By clicking on sign-up, you agree to Cwitter's <a href="">Terms and Conditions of Use</a>.
        </p>

        <input id="signup-submit-btn" type="submit" value="Sign up" />

      </form>
    </div>

    <script>
      var open_signup_panel_btn = document.getElementById("signup-button");
      var close_signup_panel_btn = document.getElementById("close-btn");
      var signup_panel = document.getElementById("hidden-signup-form");
      var signup_panel_bg = document.getElementById("hidden-signup-bg-grey");

      open_signup_panel_btn.onclick = function() {
        signup_panel.style.display = "block";
        signup_panel_bg.style.display = "block";
      }

      close_signup_panel_btn.onclick = function() {
        signup_panel.style.display = "none";
        signup_panel_bg.style.display = "none";
      }


    </script>


  </body>
</html>
